# imbd-ratings-find

Use the "Run" button to execute the code.

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# get data from imbd portal

In [9]:
data = requests.get("https://www.imdb.com/chart/top")
#make beautiful soup object
process_soup = BeautifulSoup(data.content)

contents = process_soup.prettify()
print(contents)

<html>
 <head>
  <title>
   403 Forbidden
  </title>
 </head>
 <body>
  <center>
   <h1>
    403 Forbidden
   </h1>
  </center>
 </body>
</html>

In [10]:
movie_title=[]
movie_year=[]
movie_rating=[]

In [14]:
table = process_soup.find(class_="chart full-width")

In [17]:
movie_title = table.find_all(class_="titleColumn")

AttributeError: 'NoneType' object has no attribute 'find_all'

In [19]:
movie_rating = table.find_all(class_="ratingColumn imdbRating")

AttributeError: 'NoneType' object has no attribute 'find_all'

In [20]:
for i in movie_title:
    title = i.a.text
    movie_title.append(title)
movie_title

[]

In [21]:
for i in movie_title:
    year = i.span.text
    movie_year.append(year)
movie_year

[]

In [22]:
for i in movie_rating:
    rating = i.strong.text
    movie_rating.append(rating)
movie_rating

[]

In [23]:
movie = pd.DataFrame({'Movie Title': movie_title, 'Year of Release': movie_year, 'IMBD Rating': movie_rating})
movie.head(16)

Empty DataFrame
Columns: [Movie Title, Year of Release, IMBD Rating]
Index: []